@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color : #191919;
    --card-bg : #064663;
    --text-color-primary : #fafafa

}

.main{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 10rem 3rem 3rem 6rem;
}
body{
    background-color: var(--bg-color);
    font-family: 'Libre Baskerville', serif;
}
.heading-1{
    font-size: 3rem;
    color: #fafafa;
    
}
.header{
    padding: 2rem 5rem 1rem 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: var(--bg-color);
}

.options{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}
.search-container{
    margin-left: auto;
}

.input{
    background-color: transparent;
    border: 2px solid var(--card-bg);
    border-radius: 4px;
    padding: 8px;
    color: var(--text-color-primary);
    font-size: 1.25 rem;
    width: 25rem ;
}
.rating-select{
    background-color: transparent;
    border: 2px solid var(--card-bg);
    border-radius: 4px;
    padding: 8px;
    color: var(--text-color-primary);
    
}
.option{
    background-color: var(--bg-color);
}

.card{
    width: 18rem;
    border-radius: 4px;
    background-color: var(--card-bg);
}

.card:hover{
    scale: 1.1;
    transition: scale .5s;
}
.card-image-container{
    width: 100%;
    height: 18rem;
}
/* here 100% of the container i.e. 100% of card image container i.e. 18rem */
.card-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center center;
}
.title{
    padding: 2px;
    font-size: 1.1rem;
}
.genre{
    padding: 2px;
    font-size: 0.875rem;
}
.star-rating{
    display: flex;
    align-items: center;
    gap: 4px;
}
.rating{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--text-color-primary);
}
.movie-details{
    margin: 10px 0;
    color: var(--text-color-primary);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.anchor{
    text-decoration: none;
}